<div class="col-md-3">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-heading panel-title">{{book.title}}</h3>
    </div>
    <div class="panel-body">
      <p>AUTHOR: {{book.author}}</p>
      <p>GENRE: {{book.genre}}</p>
      <p>AVAILABILITY:{{book.availability}}</p>
      {{#link-to 'books.edit' book.id class='btn btn-default'}}Edit{{/link-to}}
    </div>
  </div>
</div>
