body{
    background-color: #d0e1f9;
}
.top{
    margin:0;
    padding: 15px;
    box-sizing: border-box;
    background-color:#d0e1f9;
}
.n1{
    align-content: center;
    border-left: 30%;
}



.heading{
    font-family: fantasy;
    color: #4d648d;
    text-align: center;

}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color:#fff;
    background-color: #4d648d;
}
.ref{
    color: #ffffff • #d0e1f9 • #4d648d • #283655 • #1e1f26
}
#navbar-color{
    background-color: #283655;
    border-color:#d0e1f9;
}
.navbar-default .navbar-nav > li > a {
    color: #fff;
}
#footer{
    background-color: #283655;
    color: #d0e1f9;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: #fff;
    background-color:#4d648d;
}
.btn-primary {
    color: #fff;
    background-color: #4d648d;
    border-color: #2e6da4;
}
.btn-default {
    color: #d0e1f9;
    background-color: #4d648d;
    border-color: #ccc;
    margin-left: 43%;

}
a {
    color: #283655;
    text-decoration: none;
}
.panel-heading{
    
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #d0e1f9;
    background-color: #283655;
    
}
.panel-body{
    font-family:  'Tahoma', Geneva, Verdana, sans-serif;
    color:#283655;

}
thead{
    background-color:#4d648d;
    color:#d0e1f9 ;
}

td{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:#4d648d;
}
.para{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 130%;
    font-style: italic; 
    color:#283655;
}