<div class="form-horizontal">
  <div class="form-group">
    <label class="col-md-2 control-label">TITLE</label>
    <div class="col-md-2">
      {{input type="text" value=model.title class="form-control" placeholder="Title of the Book"}}
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-2 control-label">AUTHOR</label>
    <div class="col-md-2">
      {{input type="text" value=model.author class="form-control" placeholder="Author of the book"}}
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-2 control-label">GENRE</label>
    <div class="col-md-2">
      {{input type="text" value=model.genre class="form-control" placeholder="Genre of the book"}}
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-2 control-label">AVAILABILITY</label>
    <div class="col-md-2">
      {{input type="text" value=model.availability class="form-control" placeholder="Copies available"}}
    </div>
  </div>  
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-2">
      <button type="submit" class="btn btn-primary" {{action 'saveChanges' model}}>Save Changes</button>
    </div>
  </div>
</div>