<table class="table table-condensed">
  <thead>
    <tr>
      <th>NAME</th>
      <th>EMAIL</th>
      <th>PHONE</th>
      <th>CITY</th>
    </tr>
  </thead>
  <tbody>
    {{#each model as |user|}}
      <tr>
        <td>{{user.name}}</td>
        <td>{{user.email}}</td>
        <td>{{user.phone}}</td>
        <td>{{user.city}}</td>
        </tr>
    {{/each}}
  </tbody>
</table>