<div class="form-horizontal">
  <div class="form-group">
    <label class="col-md-2 control-label">NAME</label>
    <div class="col-md-2">
      {{input type="text" value=name class="form-control" placeholder="Name of the user" }}
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-2 control-label">E-MAIL</label>
    <div class="col-md-2">
      {{input type="text" value=email class="form-control" placeholder="Enter tour mail ID"}}
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-2 control-label">PHONE</label>
    <div class="col-md-2">
      {{input type="text" value=city class="form-control" placeholder="Enter tour number"}}
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-2 control-label">CITY</label>
    <div class="col-md-2">
      {{input type="text" value=phone class="form-control" placeholder="City"}}
    </div>
  </div>  
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-2">
      <button type="submit" class="btn btn-primary" {{action 'saveUser' model}}>ADD</button>
    </div>
  </div>
</div>