<div class="top" >
  <h1 class="heading">SANTA MONICA LIBRARY</h1>
  <div class="container " >
    <nav class="navbar navbar-default" id="navbar-color">
      <div class="container">
        <div class="navbar-header ">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            {{#link-to 'home' tagName="li"}}<a href=""><strong>HOME</strong></a>{{/link-to}}
            {{#link-to 'users' tagName="li"}}<a href=""><strong>USERS</strong></a>{{/link-to}}
            {{#link-to 'books' tagName="li"}}<a href=""><strong>BOOKS</strong></a>{{/link-to}}
          </ul>
        </div>
      </div>
    </nav>
  </div>
</div>


{{outlet}}

<footer class="page-footer font-small teal pt-4">
  <div class="container-fluid text-center text-md-left" id="footer">
    <div class="row">
      <div class="col-md-6 mt-md-0 mt-3">
        <p>“Books are the quietest and most constant of friends; they are the most accessible and wisest of counselors, and the most patient of teachers.”
        </p>
        <h5 style="text-align: right" class="text-uppercase font-weight-bold">-Charles W.Elliot</h5>
      </div>
      <div class="col-md-6 mb-md-0 mb-3">
        <p>“One glance at a book and you hear the voice of another person, perhaps someone dead for 1,000 years. To read is to voyage through time.”
        </p>
        <h5 style="text-align: right" class="text-uppercase font-weight-bold">-Carl Sagan</h5>
      </div>
    </div>
  </div>
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://mdbootstrap.com/"> MDBootstrap.com</a>
  </div>
</footer>
