<ul class="nav navbar nav-pills">
  {{#link-to 'books.index' tagName="li"}}<a href="">List all</a>{{/link-to}}
  {{#link-to 'books.new' tagName="li"}}<a href="">Add new</a>{{/link-to}}
</ul>

{{outlet}}