<div class="jumbotron" >
  <p style="text-align:center">The Santa Monica Public Library (SMPL) is the public library serving residents of Santa Monica, California and surrounding areas. SMPL is directed by a City Librarian, who reports to the Santa Monica City Manager's Office and is overseen by a Library Board consisting of five members appointed by the Santa Monica City CouncisCl. </p>
</div>
 
<div class="page-header">
  <h1>SERVICES </h1>
    <p class ="para">
      The system consists of the Main Library, located at 601 Santa Monica Boulevard, and four branch libraries: the Fairview Branch (2101 Ocean Park Boulevard), the Montana Avenue Branch (1704 Montana Avenue), the Ocean Park Branch (2601 Main Street), and the Pico Branch (2201 Pico Boulevard).Library cards are available free of charge to California residents. Library cardholders may borrow books, magazines, compact discs, DVDs, audiobooks, ebooks and can use their cards to access research databases. Public access Internet computers are available at all locations and can be accessed by both California residents and visitors, and libraries also offer free Wi-Fi. The Main Library and Pico Branch Library have several small group study rooms available free of charge to library cardholders. Each library location has one or more community meeting rooms which can be rented for a fee. 
    </p>
</div>
 <div class="page-header">
  <h1 style="text-align: right">ORIGINS </h1>
    <p class ="para">
      Santa Monica officially became a town in 1875.[1] In 1884, a room adjoining Dr. Fred C. McKinnie's drug store was established as a reading room. The reading room was turned over to the Women's Christian Temperance Union (WCTU) in 1888. At that time, the collection of books contained 400 items, plus popular magazines and newspapers. Despite some successful fundraising events, maintaining the reading room proved challenging for the WCTU. In November 1890, the WCTU proposed to turn the library, now numbering 800 volumes, over to the city of Santa Monica. The town trustees accepted the gift. In December 1890, the first City Librarian, Ms. Elfie Mosse, was appointed. Two rooms in the Bank of Santa Monica building, located at Oregon Avenue (later Santa Monica Boulevard) and Third Street, were set aside for the library. 
    </p>
</div>