<ul class="nav navbar nav-pills">
  {{#link-to 'users.index' tagName="li"}}<a href="">List all</a>{{/link-to}}
  {{#link-to 'users.new' tagName="li"}}<a href="">Add new</a>{{/link-to}} 
</ul>
{{outlet}}